[Unit]
Description=D-Bus system message bus

[Service]
ExecStart=/usr/bin/dbus-daemon --system --nofork --nopidfile --nosyslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
