[Unit]
Description=DHCP client daemon
After=network.target

[Service]
ExecStart=/usr/sbin/dhcpcd --nobackground
Restart=on-failure

[Install]
WantedBy=multi-user.target
