[Unit]
Description=DHCP Client Daemon
After=network-pre.target
Wants=network.target
Before=network.target

[Service]
ExecStart=/usr/sbin/dhcpcd --nobackground
Restart=on-failure

[Install]
WantedBy=multi-user.target
